@model ME.Libros.Web.Models.CobroViewModel

<h3>Modificar cobro</h3>

@using (Html.BeginForm("Modificar", "Cobro", FormMethod.Post, new { id = "formCobro", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-danger validationSummary @(ViewData.ModelState.IsValid ? "hide" : "")" role="alert">
                <a class="close" data-hide="alert" aria-hidden="true">×</a>
                <b>Mensajes:</b>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="col-md-8 col-md-offset-4">
                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modalEliminar" title="Anular el cobro">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    Anular
                </button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="text-right">
                <a class="btn btn-default" href="@Url.Action("Index")" title="Volver">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Volver
                </a>
            </div>
        </div>
    </div>
}

