@model ME.Libros.Web.Models.ProductoViewModel
@if (Model.Id > 0)
{
    <div class="row">
        <div class="col-md-10">
            <div class="form-group form-group-sm">
                @Html.LabelFor(p => p.Id, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(p => p.Id, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(p => p.Nombre, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control", placeholder = "Nombre" })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(p=>p.Descripcion, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(p => p.Descripcion, new { @class = "form-control", placeholder = "Descripcion" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(p => p.CodigoBarra, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(p => p.CodigoBarra, new { @class = "form-control", placeholder = "Codigo de Barra" })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(p => p.Stock, new { @class = "col-md-4 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(p => p.Stock, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(p => p.PrecioCosto, new { @class = "col-md-4 control-label"  , data_val_number = string.Format(ErrorMessages.Numeric, Messages.Stock)})
            <div class="col-md-8">
                @Html.TextBoxFor(p => p.PrecioCosto, new { @class = "form-control", placeholder = "Precio de costo", data_val_number = string.Format(ErrorMessages.Decimal, Messages.PrecioCosto) })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(p => p.PrecioVenta, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(p => p.PrecioVenta, new { @class = "form-control", placeholder = "Precio de venta", data_val_number = string.Format(ErrorMessages.Decimal, Messages.PrecioVenta) })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(p => p.Rubro, Messages.Rubro, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(p => p.Rubro.Id, Model.Rubros, "Seleccione", new { @class = "form-control rubro", placeholder = "Rubro", required = "required", data_val_required = string.Format(ErrorMessages.Requerido, Messages.Rubro) })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(e => e.Editorial.Id, Messages.Editorial, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(e => e.Editorial.Id, Model.Editoriales, "Seleccione", new { @class = "form-control editorial", placeholder = "Editorial", required = "required", data_val_required = string.Format(ErrorMessages.Requerida, Messages.Editorial) })
            </div>
        </div>
    </div>
</div>

