@model ME.Libros.Web.Models.ClienteViewModel
@if (Model.Id > 0)
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                @Html.LabelFor(c => c.Id, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(c => c.Id, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Nombre, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control", placeholder = "Nombre" })
                @Html.ValidationMessageFor(c => c.Nombre)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Apellido, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(c => c.Apellido, new { @class = "form-control", placeholder = "Apellido" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Cuil, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(c => c.Cuil, new { @class = "form-control", placeholder = "Cuil" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Sexo, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.EnumDropDownListFor(c => c.Sexo, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Localidad.Provincia.Id, "Provincia", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(c => c.Localidad.Provincia.Id, Model.Provincias, "Seleccione", new { @class = "form-control provincia", placeholder = "Provincia", required = "required", data_val_required = "El campo <b>Provincia</b> es obligatorio" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Localidad.Id, "Localidad", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(c => c.Localidad.Id, Model.Localidades, "Seleccione", new { @class = "form-control localidad", placeholder = "Localidad", required = "required", data_val_required = "El campo <b>Localidad</b> es obligatorio" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Direccion, new { @class = " col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(c => c.Direccion, new { @class = "form-control", placeholder = "Dirección", required = "required" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Numero, "Nº", new { @class = "col-md-3 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(c => c.Numero, new { @class = "form-control", placeholder = "Nº", required = "required" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Email, new { @class = "col-md-1 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(c => c.Email, new { @class = "form-control", type = "email", placeholder = "Email" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.TelefonoFijo, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(c => c.TelefonoFijo, new { @class = "form-control", type = "tel", placeholder = "Teléfono" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Celular, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(c => c.Celular, new { @class = "form-control", type = "tel", placeholder = "Celular" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".provincia").on("change", function () {
        var idProvincia = $(".provincia :selected").attr("value");
        if (idProvincia > 0) {
            $.ajax({
                method: "GET",
                url: '@Url.Action("ListarLocalidades", "Cliente")' + "?id=" + idProvincia,
                dataType: "json",
                error: function (jqXHR, status, error) {
                    mensajeError("Error: " + error + " - Status: " + status);
                },
                success: function (data) {
                    $(".localidad").empty();
                    if (data.length > 0) {
                        $.each(data, function (key, value) {
                            $(".localidad").append(new Option(value.Nombre, value.Id));
                        });
                    } else {
                        $(".localidad").append(new Option("Seleccione", ""));
                    }
                },
                timeout: 10000,
                cache: false
            });
        } else {
            $(".localidad").empty().append(new Option("Seleccione", ""));
        }
    });
</script>
