@model IEnumerable<ME.Libros.Web.Models.VentaItemViewModel>

@*Si no existen items o si existen el 1ro con ID = 0, mostrar el boton*@
@if (!Model.Any() || Model.First().Id == 0)
{
    <a id="btnNuevoVentaItem" class="btn btn-sm btn-success btnNuevo" data-toggle="modal" data-target="#" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Agregar item
    </a>
}
<table id="ventaDetalleTable" @*class="dataTableCustom2"*@>
    <thead>
        <tr>
            <th class="columnaCodigo">@Html.DisplayNameFor(model => model.Orden)</th>
            <th>@Html.DisplayNameFor(model => model.ProductoId)</th>
            <th class="numero">@Html.DisplayNameFor(model => model.Cantidad)</th>
            <th class="moneda">@Html.DisplayNameFor(model => model.PrecioVentaVendido)</th>
            <th class="moneda" style="width: 150px;">@Html.DisplayNameFor(model => model.MontoItemVendido)</th>
            <th class="columnaAcciones">Acciones</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="4" style="text-align:right">Total hoja actual (Total):</th>
            <th class="text-right"></th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Orden</td>
                <td>@item.Producto.Nombre</td>
                <td class="text-right">@Html.DisplayFor(c => item.Cantidad)</td>
                <td class="text-right">@Html.DisplayFor(c => item.PrecioVentaVendido)</td>
                <td class="text-right">@Html.DisplayFor(c => item.MontoItemVendido)</td>
                <td>
                    @{
                        var href = item.Id > 0
                            ? "verVentaItem('" + Url.Action("Modificar", new {id = item.Id}) + "');"
                            : "abrirModalVentaItem('" + Url.Action("ModificarItem") + "', " + (item.Orden - 1) + ");";
                    }
                    <a class="btn btn-warning btn-sm btnModificar" type="button" href="javascript:@href" title="Detalle item">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>
                    @if (item.Id == 0)
                    {
                        <button class="btn btn-danger btn-sm btnEliminar" type="button" data-toggle="modal" data-target="#modalEliminarVentaItem" onclick="javascript:setearIdVentaItem(@(item.Orden - 1));" title="Eliminar item">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" id="idEntidadVentaItem" />
@Html.Partial("Eliminar")

<script type="text/javascript">
    function verVentaItem(url) {
        $.ajax({
            method: "GET",
            url: url,
            contentType: "application/json;charset=utf-8",
            dataType: "html",
            error: function (jqXhr, status, error) {
                mensajeError("Ha ocurrido un error");
            },
            success: function (data) {
                $("#contenedorVentaItem").html(data);
                $('#modalVentaItem').modal('toggle');
            },
            timeout: 10000,
            cache: false
        });
    }

    function setearIdVentaItem(id) {
        $("#idEntidadVentaItem").val(id);
    }
</script>