@model ME.Libros.Web.Models.CompraViewModel

@if (Model.Id > 0)
{
    <div class="row">
        <div class="col-md-10">
            <div class="form-group form-group-sm">
                @Html.LabelFor(c => c.Id, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.Id, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.FechaCompra, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(c => c.FechaCompra, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = Messages.FechaCompra })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.NroFactura, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(c => c.NroFactura, new { @class = "form-control", placeholder = Messages.NroFactura })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.ProveedorId, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(c => c.ProveedorId, Model.Proveedores, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.NroRemito, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(c => c.NroRemito, new { @class = "form-control", placeholder = Messages.NroRemito })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <fieldset class="col-md-10">
        <legend>Detalle</legend>
    </fieldset>
    </div>
    <div class="tab-content">
<div id="TabCompraDetalle" role="tabpanel" class="tab-pane fade in active">
    <br />
    @{ Html.RenderAction("Index", "CompraItem", new { compraItemViewModels = Model.Items }); }
    @*@foreach (var item in Model.Items)
                {
                    <input class='hiddenProductoId' id="@("Items[" + (item.Orden - 1) + "].ProductoId")" type='hidden' name="@("Items[" + (item.Orden - 1) + "].ProductoId")" value="@item.ProductoId" />
                    <input class='hiddenCantidad' id="@("Items[" + (item.Orden - 1) + "].Cantidad")" type='hidden' name="@("Items[" + (item.Orden - 1) + "].Cantidad")" value="@item.Cantidad" />
                }*@

   
</div>
        </div>
        <div class="row">
            <fieldset class="col-md-10"></fieldset>
            <div class="col-md-5">

            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(c => c.MontoCalculado, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(c => c.MontoCalculado, new { @class = "form-control", placeholder = Messages.MontoCalculado, disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(c => c.MontoComprado, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(c => c.MontoComprado, new { @class = "form-control", placeholder = Messages.MontoComprado })
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <hr />
            </div>
        </div>
<div class="row">
    <div class="col-md-10">
        <div class="alert alert-danger validationSummary @(ViewData.ModelState.IsValid ? "hide" : "")" role="alert">
            <a class="close" data-hide="alert" aria-hidden="true">×</a>
            <b>Mensajes:</b>
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
        </div>
    </div>
</div>