@model ME.Libros.Web.Models.CompraItemViewModel

<div class="form-group form-group-sm">
    @Html.LabelFor(ci => ci.CodigoBarra, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(ci => ci.CodigoBarra, new { @class = "form-control", placeholder = Messages.CodigoBarra, autocomplete = "off", onfocus = "this.select();" })
    </div>
</div>
<div class="form-group form-group-sm">
    @Html.LabelFor(ci => ci.ProductoId, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(ci => ci.ProductoId, Model.Productos, "Seleccione", new { @class = "form-control" })
    </div>
</div>
<div class="form-group form-group-sm">
    @Html.LabelFor(ci => ci.Cantidad, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(ci => ci.Cantidad, new { @class = "form-control", placeholder = "Cantidad", maxlength = "4", autocomplete = "off" })
    </div>
</div>
<div class="form-group form-group-sm">
    @Html.LabelFor(ci => ci.PrecioCostoComprado, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <div class="input-group">
            <div class="input-group-addon">$</div>
            @Html.TextBoxFor(ci => ci.PrecioCostoComprado, new { @class = "form-control", placeholder = Messages.PrecioCostoComprado, maxlength = "8", autocomplete = "off" })
        </div>
        <h4>
            <span class="label label-primary">
                @Html.DisplayNameFor(model => model.PrecioCostoAnterior): $
                <span id="precioCostoAnterior">@(Model.ProductoId > 0 ? Html.DisplayTextFor(ci => ci.PrecioCostoAnterior).ToHtmlString() : "-")</span>
            </span>
        </h4>
    </div>
</div>
<div class="form-group form-group-sm">
    @Html.LabelFor(ci => ci.MontoItemComprado, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <div class="input-group">
            <div class="input-group-addon">$</div>
            @Html.TextBoxFor(ci => ci.MontoItemComprado, new { @class = "form-control", placeholder = Messages.MontoItemComprado, maxlength = "10", autocomplete = "off" })
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setMaxlength();
        jQuery.validator.unobtrusive.parse("#formCompraItem");

        $("#Cantidad").rules("add", {
            min: 1,
            messages: {
                min: "La <b>Cantidad</b> debe ser mayor a 0 unidades</b>"
            }
        });

        $("#PrecioCostoComprado").rules("add", {
            min: 0,
            messages: {
                min: "El <b>Precio de compra comprado</b> debe ser mayor o igual a $ 0,00</b>"
            }
        });

        $("#MontoItemComprado").rules("add", {
            min: 0,
            messages: {
                min: "El <b>Subtotal comprado</b> debe ser mayor o igual a $ 0,00</b>"
            }
        });
    });

    $('#ProductoId').on('change', function () {
        getProducto('@Url.Action("Get", "Producto")');
    });

    $('#Cantidad').on('keyup change', function (e) {
        if (isValidKeyForCalc(e.keyCode)) {
            var precioCostoComprado = Globalize.parseFloat($("#PrecioCostoComprado").val());
            calcularMontoItemComprado(precioCostoComprado);
        }
    });

    $('#PrecioCostoComprado').on('keyup change', function (e) {
        if (isValidKeyForCalc(e.keyCode)) {
            var precioCostoComprado = Globalize.parseFloat($("#PrecioCostoComprado").val());
            calcularMontoItemComprado(precioCostoComprado);
        }
    });

    $('#MontoItemComprado').on('keyup change', function () {
        var montoItemComprado = Globalize.parseFloat($(this).val());
        var cantidad = parseInt($("#Cantidad").val());
        if (cantidad > 0 && montoItemComprado >= 0) {
            var precioCostoComprado = montoItemComprado / cantidad;
            $("#PrecioCostoComprado").val(formatFloat(precioCostoComprado));
        }
    });

    $('#CodigoBarra').on('change', function (e) {
        getProductoByCodigoBarra('@Url.Action("GetByCodigoBarra", "Producto")', $(this).val());
    });

    $('#CodigoBarra').on('keypress', function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            getProductoByCodigoBarra('@Url.Action("GetByCodigoBarra", "Producto")', $(this).val());
        }
    });
</script>
