@model ME.Libros.Web.Models.ProductoViewModel

<h3>Modificar producto</h3>
@using (Html.BeginForm("Modificar", "Producto", FormMethod.Post, new { id = "formProducto", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-danger validationSummary @(ViewData.ModelState.IsValid ? "hide" : "")" role="alert">
                <a class="close" data-hide="alert" aria-hidden="true">×</a>
                <b>Mensajes:</b>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")">
                    Cancelar
                </a>
                <input id="btnModificar" type="submit" value="Modificar" class="btn btn-success" />
            </div>
            
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modalEliminarProducto">
                Eliminar <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>

        </div>
    </div>
}

@Html.Partial("Eliminar")
<input type="hidden" id="idEntidad" value="@Model.Id"/>
