<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-navbar-custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables-1.10.6/boostrap/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.6/extensions/KeyTable/css/dataTables.keyTable.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.custom.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-duallistbox.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    @* Scripts *@
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.custom.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.custom.js"></script>

    <script src="~/Scripts/globalize/globalize.js"></script>
    <script src="~/Scripts/globalize/cultures/globalize.culture.es-AR.js"></script>
    <script src="~/Scripts/jquery.validate.globalize.js"></script>
    
    <script src="~/Scripts/DataTables-1.10.6/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables-1.10.6/boostrap/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/DataTables-1.10.6/extensions/KeyTable/js/dataTables.keyTable.js"></script>
    <script src="~/Scripts/jquery.dataTables.custom.js"></script>
    
    <script src="~/Scripts/common.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-left">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        @Html.ActionLink("Administración", "Index", "Cliente")
                    </li>
                    <li>
                        @Html.ActionLink("Ventas", "Index", "VentaVigente")
                    </li>
                    <li>
                        @Html.ActionLink("Tesoseria", "Index", "Cobro")
                    </li>
                    <li><a href="#">Reportes</a></li>
                    <li><a href="#">Sistema</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Salir</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <img id="loading-indicator" src="~/Content/img/ajax-loader.gif" style="display:none" />
        @if (ViewBag.MenuId != null)
        {
            @Html.Action("Index", "MenuLateral", new { id = ViewBag.MenuId })

            <div class="tab-content contenedor">
                <div id="tabContenedor" role="tabpanel" class="tab-pane fade in active">
                    @RenderBody()
                </div>
            </div>
        }
        else
        {
            @RenderBody()
        }
        <div class="navbar navbar-fixed-bottom ">
            <div class="container">
                <p>&copy; Sistema Gestion de Libros v1.0</p>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Id' != "") {
            mensajeSuccess('@ViewBag.Mensaje');
        }

        $("input[data-val-length-max]").each(function () {
            $(this).attr("maxlength", $(this).data().valLengthMax);
        });

        Globalize.culture("es-AR");

        $(".formDetalle :input").each(function () {
            $(this).attr('disabled', true);
        });
    });

    $(function () {
        $("[data-hide]").on("click", function () {
            $(this).closest("." + $(this).attr("data-hide")).addClass("hide");
        });
    });

    $(".formEntidad").on("submit", function () {
        if ($(this).valid()) {
            $(".validationSummary").addClass("hide");
        } else {
            $(".validationSummary").removeClass("hide");
        }
    });

    jQuery.extend(jQuery.validator.messages, {
        email: '@Html.Raw(string.Format(ErrorMessages.Invalido, "Email"))',
    });

    $('.datepicker').datepicker({
        language: 'es',
        todayBtn: 'linked',
        todayHighlight: true
    });

    $('.modalEliminar').on('hidden.bs.modal', function () {
        $(".validationSummary").addClass("hide");
        $(".validationSummary ul").remove();
    });

    $('.modalEliminar').on('shown.bs.modal', function () {
        $(".btnCancelarEliminar").focus();
    });

    //function simulateESCKeyPress() {
    //    jQuery.event.trigger({ type: 'keypress', which: 27 });
    //}
</script>