@using System.Web.Optimization
@using ME.Libros.Web.Models

@{
    var navigationBar = ((NavigationBarViewModel)ViewBag.NavigationBar);
    if (!string.IsNullOrEmpty(navigationBar.Title))
    {
        ViewBag.Title = navigationBar.Title;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/book.ico")" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-navbar-custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables-1.10.9/media/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.9/extensions/KeyTable/css/keyTable.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.9/extensions/Buttons/css/buttons.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.custom.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-duallistbox.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/sidebar.custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/typeahead.css" rel="stylesheet" type="text/css" />

    @* Scripts *@
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.custom.js"></script>
    <script src="~/Scripts/bootstrap-switch.js"></script>
    <script src="~/Scripts/bootstrap-switch-custom.js"></script>
    <script src="~/Scripts/jasny-bootstrap.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.custom.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    @*<script src="~/Scripts/cldr.js"></script>
        <script src="~/Scripts/cldr/event.js"></script>
        <script src="~/Scripts/cldr/supplemental.js"></script>

        <script src="~/Scripts/globalize.js"></script>
        <script src="~/Scripts/globalize/message.js"></script>
        <script src="~/Scripts/globalize/number.js"></script>
        <script src="~/Scripts/globalize/plural.js"></script>
        <script src="~/Scripts/globalize/date.js"></script>
        <script src="~/Scripts/globalize/currency.js"></script>
        <script src="~/Scripts/globalize/relative-time.js"></script>*@

    @*<script src="~/Scripts/globalize.culture.es-AR.js"></script>*@

    <script src="~/Scripts/globalize/globalize.js"></script>
    <script src="~/Scripts/globalize/cultures/globalize.culture.es-AR.js"></script>
    <script src="~/Scripts/jquery.validate.globalize.js"></script>
    <script src="~/Scripts/jquery.validate.globalize.custom.js"></script>

    <script src="~/Scripts/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/KeyTable/js/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/Buttons/js/buttons.bootstrap.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/Buttons/js/buttons.flash.js"></script>
    <script src="~/Scripts/jszip.js"></script>
    <script src="~/Scripts/pdfmake/pdfmake.min.js"></script>
    <script src="~/Scripts/pdfmake/vfs_fonts.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/Buttons/js/buttons.print.js"></script>

    <script src="~/Scripts/DataTablesCustom/jquery.dataTables.config.custom.js"></script>
    <script src="~/Scripts/DataTablesCustom/jquery.dataTables.custom.js"></script>
    <script src="~/Scripts/bootbox.js"></script>

    @Scripts.Render("~/bundles/typeahead")
    <script src="~/Scripts/typeahead.mvc.model.js"></script>

    <script src="~/Scripts/common.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-default-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="@Url.Action("Index", "Cliente")">SGL</a>*@
            </div>
            <div class="collapse navbar-collapse">
                @if (navigationBar.MostrarMenu)
                {
                    <ul class="nav navbar-nav">
                        @foreach (var menu in navigationBar.MenuViewModels)
                        {
                            <li class="@(menu.Seleccionado ? "active" : string.Empty)">
                                <a href="@menu.Link">@menu.Nombre</a>
                            </li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Juan, Perez <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Perfil</a></li>
                                <li><a href="#">Cambiar clave</a></li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Log out", "Logout", "Login")</li>
                            </ul>
                        </li>
                        <li><a href="#">Ayuda</a></li>
                        <li>@Html.ActionLink("Log out", "Logout", "Login")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @if (navigationBar.MostrarSubMenu)
            {
                <div id="sidebar" class="col-sm-12 col-md-2 col-lg-1 sidebar" role="navigation">
                    @Html.Action("Index", "MenuLateral", new { subMenues = navigationBar.MenuSeleccionado.Hijos })
                </div>
                <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-11 col-lg-offset-1 main">
                    <img id="loading-indicator" src="~/Content/img/ajax-loader.gif" style="display:none" />
                    <div class="tab-content">
                        <div id="tabContenedor" role="tabpanel" class="tab-pane fade in active">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            }
            else
            {
                @RenderBody()
            }
        </div>
    </div>
    <div class="navbar navbar-fixed-bottom navbar-default">
        <div class="container">
            <p></p>
            <div class="pull-left">
                <p class="text-muted">Sistema Gestion de Libros</p>
            </div>
            <div class="pull-right">
                <p class="text-muted">&copy; @DateTime.Now.Year, Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    Globalize.culture("es-AR");
    bootbox.setLocale("es");

    $(document).ready(function () {
        if ('@ViewBag.Mensaje' != '') {
            mensajeSuccess('@ViewBag.Mensaje');
        }
        
        //Globalize.load("es-AR");
        //Globalize.locale("es-AR");
        //Globalize.locale("en");

        $(".formDetalle :input").each(function () {
            $(this).attr('disabled', true);
        });

        setMaxlength();

        $('[data-toggle=offcanvas]').click(function () {
            $('.row-offcanvas').toggleClass('active');
        });
    });

    $(function () {
        $(document).on("click", "[data-hide]", function () {
            $(this).closest("." + $(this).attr("data-hide")).addClass("hide");
        });
    });

    $(".formEntidad, .formLogin").on("submit", function () {
        validationSummaryVisibility(this);
    });

    //$(".formEntidad").on('change', function (e) {
    //    if (!$(this).find(".validationSummary").hasClass("hide")) {
    //        validationSummaryVisibility(this);
    //    }
    //});

    jQuery.extend(jQuery.validator.messages, {
        email: '@Html.Raw(string.Format(ErrorMessages.FormatoInvalido, "Email"))',
        digits: 'El {0} debe ser un numero entero'
    });

    $('.datepicker').datepicker({
        language: 'es',
        todayBtn: 'linked',
        todayHighlight: true,
        orientation: "left top"
    });

    $('.modalEliminar').on('hidden.bs.modal', function () {
        $(this).find(".validationSummary").addClass("hide");
        $(this).find(".validationSummary ul").remove();
    });

    $('.modalEliminar').on('shown.bs.modal', function () {
        $(this).find(".btnCancelarEliminar").focus();
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>