<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Master Ediciones - Sistema Gestión de Libros</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap-navbar-custom.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
        
        <script src="~/Scripts/jquery-2.1.3.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        @*<script src="~/Scripts/modernizr-2.8.3.js"></script>*@
        <script src="~/Scripts/toastr.js"></script>
        <script src="~/Scripts/toastr.custom.js"></script>
        <script src="~/Scripts/common.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.validate.custom.js"></script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse navbar-left">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Administración", "Index", "Cliente")
                        </li>
                        <li>
                            @Html.ActionLink("Ventas", "Index", "Venta")
                        </li>
                        <li><a href="#">Facturación</a></li>
                        <li><a href="#">Reportes</a></li>
                        <li><a href="#">Sistema</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Salir</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">
            <img id="loading-indicator" src="~/Content/img/ajax-loader.gif" style="display:none" />
            @if (ViewBag.MenuId != null)
            {
                @Html.Action("Index", "MenuLateral", new { id = ViewBag.MenuId })
                
                <div class="tab-content contenedor">
                    <div id="tabContenedor" role="tabpanel" class="tab-pane fade in active">
                        @RenderBody()
                    </div>
                </div>
            }
            else
            {
                @RenderBody()
            }
            <div class="navbar navbar-fixed-bottom ">
                <div class="container">
                    <p>&copy; Sistema Gestion de Libros v1.0</p>
                </div>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
    
</script>