@model HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SGL - @ViewBag.Title</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-navbar-custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    @* Scripts *@
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-left">
                <ul class="nav navbar-nav navbar-left"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h2>@ViewBag.Title</h2>
            </div>
            <div id="body" class="jumbotron">
                <h3 class="text-danger">Un error ha ocurrido al procesar su solicitud. Por favor, contacte al administrador</h3>
                <h4>Detalles del error:</h4>
                <hr />
                <p><strong>Controller:</strong> @(Model.ControllerName ?? "-")</p>
                <p><strong>Action:</strong> @(Model.ActionName ?? "-")</p>
                <p><strong>Exception Message:</strong> @Model.Exception.Message</p>
                <p><strong>Exception Details:</strong> <small>@Model.Exception</small></p>
            </div>
        </div>
        <div class="navbar navbar-fixed-bottom ">
            <div class="container">
                <p></p>
                <div class="pull-left">
                    Sistema Gestion de Libros
                </div>
                <div class="pull-right">
                    <p class="text-muted">&copy; @DateTime.Now.Year, Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
