@model ME.Libros.Web.Models.VentaViewModel

<script src="~/Scripts/venta.js"></script>

<h3>Nueva venta</h3>
@using (Html.BeginForm("Crear", "VentaVigente", FormMethod.Post, new { id = "formVenta", @class = "form-horizontal formEntidad" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-danger validationSummary @(ViewData.ModelState.IsValid ? "hide" : "")" role="alert">
                <a class="close" data-hide="alert" aria-hidden="true">×</a>
                <b>Mensajes:</b>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button id="btnCrearVenta" name="btnCrearVenta" type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" id="cantidadItems" name="cantidadItems" value="@Model.Items.Count" />
}

<div id="contenedorVentaItem"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").each(function () {
            $(this).datepicker("setDate", new Date());
        });

        $("#btnNuevoVentaItem").on("click", function () {
            abrirModalVentaItem('@Url.Action("CrearItem", "VentaItem")');
        });
        
        //var columnas = [6];
        //var i = 0;
        //$('#ventaDetalleTable thead th').each(function () {
        //    var ordenable = !$(this).hasClass("noSort");
        //    var width = "";
        //    if ($(this).hasClass("numero")) {
        //        width = "150px";
        //    }
        //    if ($(this).hasClass("columnaCodigo")) {
        //        width = "50px";
        //    }
        //    if ($(this).hasClass("columnaAcciones")) {
        //        width = "50px";
        //        ordenable = false;
        //    }
        //    columnas[i].targets = i;
        //    columnas[i].ordenable = ordenable;
        //    columnas[i].width = width;
        //    i++;
        //});
        //console.log(columnas);
        var columna = [
            {
                "targets": 0,
                "orderable": false,
                "searchable": false
            }
        ];

        $("#ventaDetalleTable").addClass("table table-striped table-hover hover table-bordered order-column KeyTable");
        $('#ventaDetalleTable').dataTable({
            "order": [],
            //"columnDefs": columna,
            "footerCallback": function (row, data, start, end, display) {
                calcularTotales(this);
            }
            //"order": [[3, "desc"]]
        });
    });

    function dataTablesColumns() {
        var array = [];
        array[0] = [];
        array[1] = [];
        array[2] = [];
        array[3] = [];
        array[4] = [];
        array[5] = [];
        return array;
    }
</script>