@model ME.Libros.Web.Models.VentaViewModel

<h3>Nueva venta</h3>
@using (Html.BeginForm("Crear", "VentaVigente", FormMethod.Post, new { id = "formVenta", @class = "form-horizontal formEntidad" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-danger validationSummary @(ViewData.ModelState.IsValid ? "hide" : "")" role="alert">
                <a class="close" data-hide="alert" aria-hidden="true">×</a>
                <b>Mensajes:</b>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button id="btnCrearVenta" name="btnCrearVenta" type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear
                </button>
            </div>
        </div>
    </div>
}
<input id="cantidadItems" type="hidden" name="Cantidad" value="@Model.Items.Count" />

@{ Html.RenderAction("CrearItem", "VentaItem"); }

<script type="text/javascript">
    $(document).ready(function () {

        $(".datepicker").each(function () {
            $(this).datepicker("setDate", new Date());
        });

        $("#formVentaItem").on("submit", function (e) {
            e.preventDefault();
            if ($("#formVentaItem").valid()) {
                $(".modalAgregarItem .validationSummary").addClass("hide");
                $(".modalAgregarItem .validationSummary ul").remove();
                $.ajax({
                    method: "POST",
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    dataType: "json",
                    error: function (jqXhr, status, error) {
                        mensajeError("Ha ocurrido un error");
                    },
                    success: function (data) {
                        if (data.Success) {
                            var ventaItem = data.VentaItem;
                            agregarVentaItem(ventaItem);
                            $('#modalAgregarItem').modal('toggle');
                            mensajeSuccess("Se agrego el " + ventaItem.Producto.Nombre + " al detalle de la venta");
                        } else {
                            var errores = "<ul>";
                            $.each(data.Errors, function (key, value) {
                                $.each(value.Value, function (key2, value2) {
                                    errores += "<li>" + value2 + "</li>";
                                });
                            });
                            errores += "</ul>";
                            $(".modalAgregarItem .validationSummary").append(errores);
                            $(".modalAgregarItem .validationSummary").removeClass("hide");
                        }
                    },
                    timeout: 10000,
                    cache: false
                });
            }
        });

        $('#modalAgregarItem').on('hidden.bs.modal', function () {
            $(this).find(".validationSummary").addClass("hide");
            //$(this).find(".validationSummary ul").remove();
            $('#formVentaItem').each(function () {
                this.reset();
            });
            $(this).find('.form-group').each(function () {
                $(".form-group").removeClass("has-error has-success");
            });
        });

        //var columnas = [6];
        //var i = 0;
        //$('#ventaDetalleTable thead th').each(function () {
        //    var ordenable = !$(this).hasClass("noSort");
        //    var width = "";
        //    if ($(this).hasClass("numero")) {
        //        width = "150px";
        //    }
        //    if ($(this).hasClass("columnaCodigo")) {
        //        width = "50px";
        //    }
        //    if ($(this).hasClass("columnaAcciones")) {
        //        width = "50px";
        //        ordenable = false;
        //    }
        //    columnas[i].targets = i;
        //    columnas[i].ordenable = ordenable;
        //    columnas[i].width = width;
        //    i++;
        //});
        //console.log(columnas);
        var columna = [{
            "targets": 0,
            "orderable": false,
            "searchable": false
        }];

        $("#ventaDetalleTable").addClass("table table-striped table-hover hover table-bordered order-column KeyTable");
        $('#ventaDetalleTable').dataTable({
            "order": [],
            //"columnDefs": columna,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                
                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };

                if (api.column(4).data().length == 0) {
                    return;
                }

                // Total over all pages
                total = api
                    .column(4)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    });

                // Total over this page
                pageTotal = api
                    .column(4, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(4).footer()).html(
                    '$' + pageTotal + ' ( $' + total + ' total)'
                );
                $("#MontoVendido, #MontoCalculado").val(total);
            }
            //"order": [[3, "desc"]]
        });
    });

    function dataTablesColumns() {
        var array = [];
        array[0] = [];
        array[1] = [];
        array[2] = [];
        array[3] = [];
        array[4] = [];
        array[5] = [];
        return array;
    }

    function agregarVentaItem(ventaItem) {
        var indexItems = parseInt($("#cantidadItems").val());
        var modificar = getModificarButton(indexItems);
        var eliminar = getEliminarButton(indexItems);
        var table = $("#ventaDetalleTable").DataTable();

        table.row.add([
            indexItems + 1,
            //0,
            ventaItem.Producto.Nombre,
            ventaItem.Cantidad,
            ventaItem.Producto.PrecioVenta,
            ventaItem.Monto,
            modificar + eliminar
        ]).draw();

        var hiddenProductoId = "<input class='hiddenProductoId' id='Items[" + indexItems + "].ProductoId' type='hidden' name='Items[" + indexItems + "].ProductoId' value='" + ventaItem.ProductoId + "' />";
        var hiddenCantidad = "<input class='hiddenCantidad' id='Items[" + indexItems + "].Cantidad' type='hidden' name='Items[" + indexItems + "].Cantidad' value='" + ventaItem.Cantidad + "' />";
        $("#formVenta").append(hiddenProductoId + hiddenCantidad);
        $("#cantidadItems").val(indexItems + 1);
    }

    function getModificarButton(indexItem) {
        return ""; return "<button class='btn btn-warning btn-sm btnModificar' type='button' onclick='modificarVentaItem(" + indexItem + ");' title='Modificar'>" +
            "<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>" +
            "</button>";
    }

    function getEliminarButton(indexItem) {
        return "<button class='btn btn-danger btn-sm btnEliminar' type='button' data-toggle='modal' data-target='#modalEliminar' onclick='setearId(" + indexItem + ");'  title='Eliminar'>" +
            "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>" +
            "</button>";
    }

    function eliminarVentaItem(indexItem) {
        $("#Items\\[" + indexItem + "\\]\\.ProductoId").remove();
        $("#Items\\[" + indexItem + "\\]\\.Cantidad").remove();
        var table = $("#ventaDetalleTable").DataTable();
        table.row(indexItem).remove().draw();
        actualizarHiddens();
        $('#modalEliminar').modal('toggle');
        mensajeSuccess("Se elimino el item Nº " + (parseInt(indexItem) + 1) + " exitosamente");
    }

    function modificarVentaItem(indexItem) {
    }

    function actualizarHiddens() {
        var cantidad = 0;
        var table = $("#ventaDetalleTable").DataTable();
        $(".hiddenProductoId").each(function () {
            table.cell(cantidad, 0).data(cantidad + 1).draw();
            $(this).attr("id", "Items[" + cantidad + "].ProductoId");
            $(this).attr("name", "Items[" + cantidad + "].ProductoId");
            $(this).next().attr("id", "Items[" + cantidad + "].Cantidad");
            $(this).next().attr("name", "Items[" + cantidad + "].Cantidad");
            cantidad++;
        });

        $("#cantidadItems").val(cantidad);
    }

</script>