@model ME.Libros.Web.Models.VentaViewModel

@if (Model.Id > 0)
{
    <div class="row">
        <div class="col-md-10">
            <div class="form-group form-group-sm">
                @Html.LabelFor(c => c.Id, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.Id, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.FechaVenta, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(v => v.FechaVenta, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = Messages.FechaVenta })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.FechaCobro, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(v => v.FechaCobro, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = Messages.FechaCobro })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.ClienteId, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(c => c.ClienteId, Model.Clientes, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.CobradorId, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(c => c.CobradorId, Model.Cobradores, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.VendedorId, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(c => c.VendedorId, Model.Vendedores, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <fieldset class="col-md-10">
        <legend>Detalle</legend>
    </fieldset>

    <div class="col-md-10" id="ventaDetalle">
        @{ Html.RenderAction("Index", "VentaItem", new { ventaItemViewModels = Model.Items }); }
        @foreach (var item in Model.Items)
        {
            <input class='hiddenProductoId' id="@("Items[" + (item.Orden - 1) + "].ProductoId")" type='hidden' name="@("Items[" + (item.Orden - 1) + "].ProductoId")" value="@item.ProductoId" />
            <input class='hiddenCantidad' id="@("Items[" + (item.Orden - 1) + "].Cantidad")" type='hidden' name="@("Items[" + (item.Orden - 1) + "].Cantidad")" value="@item.Cantidad" />
        }
    </div>
</div>
<div class="row">
    <fieldset class="col-md-10">
        <legend>Forma de pago</legend>
    </fieldset>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.Label("Plan de pago", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(c => c.PlanPagoId, Model.PlanesPago, "Seleccione", new { @class = "form-control" })
                @*<select class="form-control" required="required">
                    <option value="">Seleccione</option>
                    <option value="1" selected="selected">Contado</option>
                    <option value="2">Financiado</option>
                </select>*@
            </div>
        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.MontoCalculado, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(v => v.MontoCalculado, new { @class = "form-control", placeholder = Messages.MontoCalculado, disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.MontoVendido, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(v => v.MontoVendido, new { @class = "form-control", placeholder = Messages.MontoVendido })
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <hr />
    </div>
</div>
