@model IEnumerable<ME.Libros.Web.Models.ProvinciaViewModel>

<h3>Listado de Provincias</h3>
<a class="btn btn-success" href="#" onclick="javascript: cargarPartial('@Url.Action("Crear", "Provincia")');" role="button">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Nuevo
</a>
<a class="btn btn-info" href="#" role="button">
    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    Filtrar
</a>

<table class="table table-striped table-hover tablaCustom">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
        <th>Acciones</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id=@("tr_"+ item.Id)>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>
                <a class="btn btn-info btn-sm" type="button" onclick="javascript: cargarPartial('@Url.Action("Detalle", "Provincia", new { id = item.Id })');">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
                <a class="btn btn-warning btn-sm" type="button" onclick="javascript: cargarPartial('@Url.Action("Modificar", "Provincia", new { id = item.Id })');">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#myModal" onclick="javascript:setearId(@item.Id);">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    }
</table>

<input type="hidden" id="idProvincia" />

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Provincia</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminarla provincia?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:eliminar();">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    @*$(document).ready(function () {
        var mensaje = '@ViewBag.Mensaje.ToString()';
        if (mensaje != "") {
            toastr.success('@ViewBag.Mensaje');
        }
    });*@

    function setearId(id) {
        $("#idProvincia").val(id);
    }

    function eliminar() {
        var id = $("#idProvincia").val();
        var url = "@Url.Action("Eliminar", "Provincia")" + "?id=" + id;
        $.get(url,
            function (data) {
                toastr.success('Provincia eliminado exitosamente');
                $("#tr_" + id).remove();
            }
        );
    }
</script>

