@model ME.Libros.Web.Models.LocalidadViewModel

@if (Model.Id > 0)
{
    <div class="row">
        <div class="col-md-10">
            <div class="form-group form-group-sm">
                @Html.LabelFor(c => c.Id, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.Id, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-10">
        <div class="form-group form-group-sm">
            @Html.LabelFor(l => l.Nombre, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(l => l.Nombre, new { @class = "form-control text-capitalize", placeholder = "Nombre" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="form-group form-group-sm">
            @Html.LabelFor(l => l.ProvinciaId, new { @class = "col-sm-2 control-label" })
            <div class="col-md-4">
                @Html.DropDownListFor(l => l.ProvinciaId, Model.Provincias, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="form-group form-group-sm">
            @Html.LabelFor(l => l.ZonaId, new { @class = "col-sm-2 control-label" })
            <div class="col-md-4">
                @Html.DropDownListFor(l => l.ZonaId, Model.Zonas, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="alert alert-danger validationSummary @(ViewData.ModelState.IsValid ? "hide" : "")" role="alert">
            <a class="close" data-hide="alert" aria-hidden="true">×</a>
            <b>Mensajes:</b>
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
        </div>
    </div>
</div>