@model ME.Libros.Web.Models.UsuarioViewModel

<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(r => r.Nombre, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(r => r.Nombre, new { @class = "form-control", placeholder = "Nombre" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(r => r.Contrasena, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(r => r.Contrasena, new { @class = "form-control", placeholder = "Contraseña" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            <div class="col-md-8 col-md-offset-4">
                @Html.PasswordFor(r => r.ConfirmarContrasena, new { @class = "form-control", placeholder = "Confirmar Contraseña" })
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-10">
        <div class="alert alert-danger validationSummary @(ViewData.ModelState.IsValid ? "hide" : "")" role="alert">
            <a class="close" data-hide="alert" aria-hidden="true">×</a>
            <b>Mensajes:</b>
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
        </div>
    </div>
</div>
