@model ME.Libros.Web.Models.EditorialViewModel
@if (Model.Id > 0)
{
    <div class="row">
        <div class="col-md-10">
            <div class="form-group form-group-sm">
                @Html.LabelFor(e => e.Id, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(e => e.Id, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(e => e.Nombre, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(e => e.Nombre, new { @class = "form-control", placeholder = "Nombre" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="form-group">
            @Html.LabelFor(e => e.Descripcion, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(e => e.Descripcion, new { @class = "form-control", rows = "2", placeholder = "Detalles de la Editorial" })
            </div>
        </div>
    </div>
</div>
