@using ME.Libros.Utils.Enums
@model ME.Libros.Web.Models.VentaViewModel

<script src="~/Scripts/venta.js"></script>

<h3>Nueva venta</h3>
<h5>Para crear una nueva venta completá los siguientes datos, agregá productos desde la pestaña <b>Detalle</b> y seleccioná un plan de pago desde la pestaña <b>Forma de pago</b>.</h5>
<hr>
@using (Html.BeginForm("Crear", "Venta", FormMethod.Post, new { id = "formVenta", @class = "form-horizontal formEntidad" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index", new { estado = EstadoVenta.Vigente})">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button id="btnCrearVenta" name="btnCrearVenta" type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" id="cantidadItems" name="cantidadItems" value="@Model.Items.Count" />
}

<div id="contenedorVentaItem"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").each(function () {
            $(this).datepicker("setDate", new Date());
        });

        $("#btnNuevoVentaItem").on("click", function () {
            abrirModalVentaItem('@Url.Action("CrearItem", "VentaItem")');
        });

        //var columnas = [6];
        //var i = 0;
        //$('#ventaDetalleTable thead th').each(function () {
        //    var ordenable = !$(this).hasClass("noSort");
        //    var width = "";
        //    if ($(this).hasClass("numero")) {
        //        width = "150px";
        //    }
        //    if ($(this).hasClass("columnaCodigo")) {
        //        width = "50px";
        //    }
        //    if ($(this).hasClass("columnaAcciones")) {
        //        width = "50px";
        //        ordenable = false;
        //    }
        //    columnas[i].targets = i;
        //    columnas[i].ordenable = ordenable;
        //    columnas[i].width = width;
        //    i++;
        //});
        //console.log(columnas);
        var columna = [
            {
                "targets": 0,
                "orderable": false,
                "searchable": false
            }
        ];

        $("#ventaDetalleTable").addClass("table table-striped table-hover hover table-bordered order-column KeyTable");
        $('#ventaDetalleTable').dataTable({
            "order": [],
            //"columnDefs": columna,
            "footerCallback": function (row, data, start, end, display) {
                calcularTotales(this, row, data, start, end, display);
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(2),td:eq(3),td:eq(4)', nRow).addClass("text-right");
            },
            lengthMenu: [5, 10]
        });

        $('#formVenta').validate().settings.ignore = false;
        $("#cantidadItems").rules("add", {
            min: 1,
            messages: {
                min: "Debe agregar al menos un <b>Item</b> al Detalle de la venta"
            }
        });
    });

    function dataTablesColumns() {
        var array = [];
        array[0] = [];
        array[1] = [];
        array[2] = [];
        array[3] = [];
        array[4] = [];
        array[5] = [];
        return array;
    }
</script>