@using ME.Libros.Utils.Enums
@model ME.Libros.Web.Models.VentaViewModel

<script src="~/Scripts/venta.js"></script>

<h3 class="page-header">Nueva venta</h3>
<h5>Para crear una nueva venta completá los siguientes datos, agregá productos desde la pestaña <b>Detalle</b> y seleccioná un plan de pago desde la pestaña <b>Forma de pago</b>.</h5>
<hr>
@using (Html.BeginForm("Crear", "Venta", FormMethod.Post, new { id = "formVenta", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index", new { estado = EstadoVenta.Vigente})">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button id="btnCrearVenta" name="btnCrearVenta" type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear
                </button>
            </div>
        </div>
    </div>
    @Html.Hidden("cantidadItems", Model.Items.Count, new { id = "cantidadItems" })
}

<div id="contenedorVentaItem"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").each(function () {
            $(this).datepicker("setDate", new Date());
        });

        $("#btnNuevoVentaItem").on("click", function () {
            abrirModalVentaItem('@Url.Action("CrearItem", "VentaItem")');
        });

        $('#formVenta').validate().settings.ignore = false;
        $("#cantidadItems").rules("add", {
            min: 1,
            messages: {
                min: "Debe agregar al menos un <b>Item</b> al Detalle de la venta"
            }
        });

        $("#MontoVendido").rules("add", {
            min: 0,
            messages: {
                min: "@Html.Raw(string.Format(ErrorMessages.MinValue, Messages.MontoVendido, "$ 0,00"))"
            }
        });
    });
</script>