@using ME.Libros.Web.Extensions
@model IEnumerable<ME.Libros.Web.Models.CuotaViewModel>

<table id="ventaCuotaTable" @*class="dataTableCustom2"*@>
    <thead>
        <tr>
            <th class="columnaCodigo">@Html.DisplayNameFor(model => model.Numero)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>@Html.DisplayNameFor(model => model.FechaVencimiento)</th>
            <th>@Html.DisplayNameFor(model => model.FechaCobro)</th>
            <th class="numero">@Html.DisplayNameFor(model => model.Atraso)</th>
            <th class="numero">@Html.DisplayNameFor(model => model.Monto)</th>
            <th class="numero">@Html.DisplayNameFor(model => model.Interes)</th>
            <th class="numero">@Html.DisplayNameFor(model => model.MontoCobro)</th>
            <th class="numero">@Html.DisplayNameFor(model => model.Saldo)</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="5" style="text-align:right">Total:</th>
            <th class="text-right">$ @Model.Sum(vi => vi.Monto)</th>
            <th class="text-right">$ @Model.Sum(vi => vi.Interes)</th>
            <th class="text-right">$ @Model.Sum(vi => vi.MontoCobro)</th>
            <th class="text-right">$ @Model.Sum(vi => vi.Monto + vi.Interes - vi.MontoCobro)</th>
        </tr>
    </tfoot>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(c => item.Numero)</td>
            <td class="text-center">
                @item.Estado.GetDisplayName()
            </td>
            <td class="text-center">@item.FechaVencimiento.ToString("dd/MM/yyyy")</td>
            <td class="text-center">
                @(item.FechaCobro.HasValue
                      ? item.FechaCobro.Value.ToString("dd/MM/yyyy")
                      : "-")
            </td>
            <td class="text-center">
                @(item.FechaCobro.HasValue
                      ? Html.DisplayFor(c => item.Atraso) + (item.Atraso == 1 ? " día" : " días")
                      : "-")
            </td>
            <td class="text-right">
                @Html.DisplayFor(c => item.Monto).ToHtmlString()
            </td>
            <td class="text-right">
                @(item.Interes > 0
                      ? Html.DisplayFor(c => item.Interes).ToHtmlString()
                      : "-")
            </td>
            <td class="text-right">
                @(item.MontoCobro > 0m
                      ? Html.DisplayFor(c => item.MontoCobro).ToHtmlString()
                      : "-")
            </td>
            <td class="text-right">@Html.DisplayFor(c => item.Saldo)</td>
        </tr>
    }
</table>
