@model ME.Libros.Web.Models.ClienteViewModel

<h3>Nuevo cliente</h3>
@using (Html.BeginForm("Crear", "Cliente", FormMethod.Post, new { id = "formCliente", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    @*if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <b>Error:</b>
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
        </div>
    }*@
    
    @Html.ValidationSummary("Mensajes:")

    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-danger">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @*@Html.ValidationSummary("Mensajes:")*@
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelarCrear" class="btn btn-default" href="@Url.Action("Index", "Cliente")">
                    Cancelar
                </a>
                <input id="btnCrearCliente" type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

