@model IEnumerable<ME.Libros.Web.Models.ClienteViewModel>

@{
    ViewBag.Title = "Clientes";
}

<h3>Clientes</h3>
<a class="btn btn-success btnNuevo" href="@Url.Action("Crear")" role="button">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Nuevo
</a>
@*<a class="btn btn-info" href="#" role="button">
    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    Filtrar
</a>*@

<table class="dataTableCustom">
    <thead>
        <tr>
            <th class="columnaCodigo no-sort">@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Cuil)</th>
            <th>@Html.DisplayNameFor(model => model.Localidad)</th>
            <th class="columnaAcciones">Acciones</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id=@("tr_"+ item.Id)>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
            <td>@Html.DisplayFor(modelItem => item.Cuil)</td>
            <td>@Html.DisplayFor(modelItem => item.Localidad.Nombre)</td>
            <td>
                <a class="btn btn-info btn-sm" type="button" href="@Url.Action("Detalle", new { id = item.Id})">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
                <a class="btn btn-warning btn-sm" type="button" href="@Url.Action("Modificar", new { id = item.Id})">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#modalEliminar" onclick="javascript:setearId(@item.Id);">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    }
</table>

<div class="info"></div>
<input type="hidden" id="idEntidad" />

<!-- Modal -->
<div class="modal fade modalEliminar" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Cliente</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar el cliente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="btnAceptar" type="button" class="btn btn-primary" @*data-dismiss="modal"*@>Aceptar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#btnAceptar").on("click", function () {
        var id = $("#idEntidad").val();
        var success = ('@Messages.EntidadEliminada').replace("{0}", '@Messages.ElCliente').replace("{1}", id);
        eliminarEntidad("@Url.Action("Eliminar")", success, '@ErrorMessages.ErrorEliminar');
    });
</script>
