@using ME.Libros.Utils.Enums
@model ME.Libros.Web.Models.VentaViewModel
@{
    var estado = new Dictionary<EstadoVenta, string>
    {
        { EstadoVenta.Vigente, "success" },
        { EstadoVenta.Anulada, "danger" },
        { EstadoVenta.Pagada, "default" }
    };
}

@if (Model.Id > 0)
{
    <div class="row">
        <div class="col-md-5">
            <div class="form-group form-group-sm">
                @Html.LabelFor(c => c.Id, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Id, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group form-group-sm">
                <div class="col-md-offset-4 col-md-8">
                    <h2 style="margin:0;">
                        <span class="label label-@(estado[Model.Estado])" style="display: block;">@Html.DisplayTextFor(v => v.Estado)</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.FechaVenta, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(v => v.FechaVenta, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = Messages.FechaVenta })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.FechaCobro, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(v => v.FechaCobro, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = Messages.FechaCobro })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.ClienteId, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(c => c.ClienteId, Model.Clientes, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.CobradorId, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(c => c.CobradorId, Model.Cobradores, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-sm">
            @Html.LabelFor(v => v.VendedorId, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(c => c.VendedorId, Model.Vendedores, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#TabVentaDetalle" aria-controls="TabVentaDetalle" role="tab" data-toggle="tab">Detalle</a>
            </li>
            <li role="presentation">
                <a href="#TabFormaPago" aria-controls="TabFormaPago" role="tab" data-toggle="tab">Forma de pago</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="TabVentaDetalle" role="tabpanel" class="tab-pane fade in active">
                @{ Html.RenderAction("Index", "VentaItem", new { ventaItemViewModels = Model.Items }); }
                @foreach (var item in Model.Items)
                {
                    <input class='hiddenProductoId' id="@("Items[" + (item.Orden - 1) + "].ProductoId")" type='hidden' name="@("Items[" + (item.Orden - 1) + "].ProductoId")" value="@item.ProductoId" />
                    <input class='hiddenCantidad' id="@("Items[" + (item.Orden - 1) + "].Cantidad")" type='hidden' name="@("Items[" + (item.Orden - 1) + "].Cantidad")" value="@item.Cantidad" />
                }
            </div>

            <div id="TabFormaPago" role="tabpanel" class="tab-pane fade">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(v => v.PlanPagoId, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(c => c.PlanPagoId, Model.PlanesPago, "Seleccione", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-sm">
                            @Html.Label("Interes", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Cuotas.Any())
                {
                    <div class="row">
                        <h4>Cuotas</h4>
                        @{ Html.RenderAction("VerCuotas", "Venta", new { cuotaViewModels = Model.Cuotas }); }
                    </div>
                }
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(v => v.MontoCalculado, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(v => v.MontoCalculado, new { @class = "form-control", placeholder = Messages.MontoCalculado, disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(v => v.MontoVendido, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(v => v.MontoVendido, new { @class = "form-control", placeholder = Messages.MontoVendido })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-10">
    <hr />
</div>
